@mixin reset{
      margin: 0!important;
      padding: 0!important;
      box-sizing: border-box!important;
}

@mixin header{
        height: 9vh;
        background-color: $color-fondo;
        .navbar-nav{
            justify-content: end;
        }
            .navbar>.container{
                padding: 0 3rem;
            }
            .row {
                justify-content: center;
            }
    
            div{
                .nav-link{
                    color: $color-letra;
                }
            }
}

@mixin footer{
        min-height: 20vh;
        height: auto;
        background-color: $color-footer;
        #footerInfo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            padding: 0 1rem;
            background-color: $color-footer;
        }
    
        a {
            color: $color-letra;
            text-decoration: none;
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-letra;
            margin-bottom: 1rem;
            align-content: flex-end;
            flex-wrap: wrap;
        }
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            color: $color-letra-titulo
        }
}

@mixin flex-centrado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}